datadir="/var/lib/proxysql"

admin_variables=
{
    admin_credentials="admin:admin"
    mysql_ifaces="0.0.0.0:6032"
}

mysql_variables=
{
    monitor_username="admin"
    monitor_password="admin"
    default_schema="information_schema"
    server_version="5.5.30"
    connect_timeout_server="3000"
}

mysql_servers =
(
    {
        address = "mariadb_master"
        port = 3306
        hostgroup = 0
        max_connections=100
    },
	
    {
        address = "mariadb_replica"
        port = 3306
        hostgroup = 1
        max_connections=100
    }
)

mysql_users =
(
    {
        username = "database_user"
        password = "secret_password"
        default_hostgroup = 0
    }
)

mysql_query_rules =
()
